* {
    margin: 0;
    border: border-box;
    font-family: 'jetbrains mono' , monospace ;
}

body {
    background-color: #111111;
    color: #fff;
}

#title {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    color: white;
}

.descrip {
    text-align: center;
    font-style: italic;
    font-size: .85em;
    color: rgba(245, 245, 220, 0.824);
    margin-top: 0.65em;
}

#img-div { 
    margin: 1.5em 1.25em 0.75em 1.25em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    max-width: 100%;
}

#img-div img {
    display: block;
    border-radius: 0.5em;
    margin-top: 1.5em;
    max-width: fit-content;
    height: auto;
    width: 100%;
    margin-bottom: 1.5em;
}

#quote1 {
    color:beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    font-style: italic;
}

#quote-cite {
    font-size:0.75em;
    margin-left:55%;
}

.body-sec {
    background-color: #232323db;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2em;
    margin: 1.75em 25% 1em 25%;
    border-radius: 0.75em;
}

#css-header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em;
    font-weight:bold;
}

.css-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.35em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

li {
    margin-bottom: 0.75em;
    font-size: 1em;
    font-style: italic;
}

a {
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color:#ffffffbe
}

#quote2 {
    color:beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    font-style: italic;
    margin-top: 2.25em;
}

h4 {
    margin-top:2em ;
    margin-bottom: 1.5em;
}

.foot {
    text-align: center;
    font-size: 0.85em;
    margin-bottom: 1.5em;
}



